
{% extends 'base.html' %}
{% block content %}
<!--导航-->


<div class="container">
<div class="row">
<div class="col-md-2">
    <div class="list-group">
        <a href="{% url 'op_log' %}" class="list-group-item active">刷新</a>
    </div>
</div>
<div class="col-md-10">
<div class="page-header">
    <h1>操作记录查询</h1>
</div>
            <ul class="nav nav-tabs" >
                <li >
                    <a href="{% url 'op_log' %}" >操作记录列表</a>
                </li>
            </ul>
<table class="table">
    <thead>
    <tr>
        <th>编号</th>
        <th>用户</th>
        <th>操作详情</th>
        <th>日期</th>
    </tr>
    </thead>
    <tbody>
    {% for l in log %}
    <tr>
        <th id="">{{ l.id }}</th>
        <th scope="row" >{{ l.op_name }}</th>
        <td >{{ l.op_detail }}</td>
        <td >{{ l.op_time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</div>
</div>

{% endblock %}