
{% extends 'base.html' %}
{% block content %}
<!--导航-->


<div class="container">
<div class="row">
<div class="col-md-2">
    <div class="list-group">
        <a href="{% url 'node' %}" class="list-group-item active">返回节点列表</a>
    </div>
</div>
<div class="col-md-10">
<div class="page-header">
    <h1 >节点状态详情</h1>
</div>
            <ul class="nav nav-tabs" >
                <li class="active" >
                    <a href="{% url 'node' %}" >节点列表</a>
                </li>
            </ul>
<table class="table">
    <thead>
    <tr>
        <th>节点IP</th>
        <th>应用名</th>
        <th>频道号</th>
        <th>服务状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for d in detail %}
    <tr>
        <th id="">{{ d.url }}</th>
        <th >{{ d.node_name }}</th>
        <th >{{ d.channel }}</th>
        <td >{{ d.describe }}</td>
        <td >
            <div role="presentation" class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="display: {{ node_manage.op }}">
                    重启{{ node_manage.op }}
                </button>
            </div>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</div>
</div>

{% endblock %}