{% load staticfiles %}
<!DOCTYPE html>

<html lang="zh-Hans" >
<head>
<title>增加 user | Django 站点管理员</title>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>



                        
                            <p class="datetime">日期： <input class="vDateField" id="id_last_login_0" name="last_login_0" size="10" type="text" /><br />时间： <input class="vTimeField" id="id_last_login_1" name="last_login_1" size="8" type="text" /></p>
                        
                    
